<div class='container' style='text-align: center; padding: 20px;'>
  {{#if isLoggedIn}}
    <h5 style='margin-top: 20px;'> Welcome Again {{username2}}</h5>
  {{else}}
    <h5 style='margin-top: 20px;'> Welcome, dont forget to logged in</h5>
    <p> You can log in, if you press to profile rout</p>
  {{/if}}
</div>


<p style='text-align: center;'>You can now see most recents post right here</p>

<div class='post'>
  <div class='accordion accordion-flush' id='accordionFlushExample'>
    <div class='accordion-item'>
      <h2 class='accordion-header'>
        <button
          class='accordion-button collapsed'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#flush-collapseOne'
          aria-expanded='false'
          aria-controls='flush-collapseOne'
        >
          Amor
        </button>
      </h2>
      <div
        id='flush-collapseOne'
        class='accordion-collapse collapse'
        data-bs-parent='#accordionFlushExample'
      >
        <div class='accordion-body'>
          {{#each publicaciones}}
            {{#if (eq categoria 'romance')}}
              a
              <h5>{{titulo}}</h5>
              <p>{{texto}}</p>
              <small>{{tiempo}}</small>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class='accordion-item'>
      <h2 class='accordion-header'>
        <button
          class='accordion-button collapsed'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#flush-collapseTwo'
          aria-expanded='false'
          aria-controls='flush-collapseTwo'
        >
          Desamor
        </button>
      </h2>
      <div
        id='flush-collapseTwo'
        class='accordion-collapse collapse'
        data-bs-parent='#accordionFlushExample'
      >
        <div class='accordion-body'>

          {{#if isLoggedIn}}
            {{#each publicaciones}}
              {{#if (eq categoria 'desamor')}}
                <h5>{{titulo}}</h5>
                <p>{{texto}}</p>
                <p>{{username}}</p>
                <small>{{tiempo}}</small>
                {{#if (eq ../user_id id_user)}}
                  <small>mismo perfil</small>
                {{else}}
                  {{#if booleanAnon}}
                    <small>ruta anonima</small>
                  {{else}}
                    <small>ruta no anonima</small>
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/each}}
          {{else}}
            {{#each publicaciones}}
              {{#if (eq categoria 'desamor')}}
                <h5>{{titulo}}</h5>
                <p>{{texto}}</p>
                <small>{{tiempo}}</small>
                <small>You cant see the perfil cause you are not logged in</small>
              {{/if}}
            {{/each}}
          {{/if}}

        </div>
      </div>
    </div>
    <div class='accordion-item'>
      <h2 class='accordion-header'>
        <button
          class='accordion-button collapsed'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#flush-collapseThree'
          aria-expanded='false'
          aria-controls='flush-collapseThree'
        >
          Haikus
        </button>
      </h2>
      <div
        id='flush-collapseThree'
        class='accordion-collapse collapse'
        data-bs-parent='#accordionFlushExample'
      >
        <div class='accordion-body'>
          {{#each publicaciones}}
            {{#if (eq categoria 'haikus')}}
              <h5>{{titulo}}</h5>
              <p>{{texto}}</p>
              <small>{{tiempo}}</small>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class='accordion-item'>
      <h2 class='accordion-header'>
        <button
          class='accordion-button collapsed'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#flush-collapseFour'
          aria-expanded='false'
          aria-controls='flush-collapseFour'
        >
          Another
        </button>
      </h2>
      <div
        id='flush-collapseFour'
        class='accordion-collapse collapse'
        data-bs-parent='#accordionFlushExample'
      >
        <div class='accordion-body'>
          aqui esta lo de dentro
        </div>
      </div>
    </div>
  </div>
</div>