<h1>Publicaciones</h1>

{{#each publicaciones}}
  <div class='post'>
    <h2>{{titulo}}</h2>
    <p>{{texto}}</p>
    <p>{{descripcion}}</p>
    <p>Publicado por:
      {{#if isOwnProfile}}
        <a href='/{{username}}'>{{username}}</a>
      {{else}}
        {{#if anonimato}}
          <a href='/anonprofile?id={{id_user}}'>anonimo</a>
        {{else}}
          <a href='/{{username}}'>{{username}}</a>
        {{/if}}
      {{/if}}
    </p>
  </div>
{{/each}}